/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/
body{
	font-family: 'Source Sans Pro', "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Home
----------------------------------------- */
.playing{
	display: none;
}
#title{
	font-weight: bold;
	text-align: center;
	font-size:1.1em;
	line-height: 3em;
}


/* -----------------------------------------
   Page Name 2
----------------------------------------- */


